@model Biblioteka.Models.Pozajmice

@{
    ViewBag.Title = "Delete";
}


<h2>Izbriši pozajmicu</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayName("Bibliotekar")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.Ime) @Html.DisplayFor(model => model.AspNetUsers.Prezime)

        </dd>
        <dt>
            @Html.DisplayName("Naziv knjige")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimjerciKnjiga.IzdanjaKnjiga.Knjige.Naslov)
        </dd>
        <dt>
            @Html.DisplayName("Clan")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clanovi.Ime) @Html.DisplayFor(model => model.Clanovi.Prezime)
        </dd>
        <dt>
            @Html.DisplayName("Sifra knjige")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimjerciKnjiga.Sifra)
        </dd>

        <dt>
            @Html.DisplayName("Datum pozajmice")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumPozajmice)
        </dd>

        <dt>
            @Html.DisplayName("Datum zakazanog vracanja")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumZakazanogVracanja)
        </dd>

        <dt>
            @Html.DisplayName("Datum vracanja")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumVracanja)
        </dd>

    </dl>

    @using (Html.BeginForm()){
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
             <input type="submit" value="Izbriši" class="btn btn-danger" /> |  @Html.ActionLink("Odustani", "Index", null, new { @class = "btn btn-secondary" })
        </div>
 }
</div>



